/* NAVBAR */
.my-nav{
    text-align: left;
    position: relative;
    color: white;
}

/*LISTS*/
.no-bullets{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul .no-bullets li a{
    padding-bottom: 5px;
    padding-top: 5px;
}
.lead{
    padding: 7px;
    text-align: center;
    background-color: #c7c2c0;
    border-radius: 7px;
    font-size: 15px;
    color: black;
}

/* BUTTONS*/
.lead button a{
    color: orange;
}
.home-btn{
    font-size: 25px;
}

/* LINKS */
a:link{
    text-decoration: none;
}
a:visited{
    color: #c9712f;    
}
a:active{
    color: orangered;
}

/* GENERAL LAYOUT */
P{
    padding: 5px;
}
h5{
    text-align: center;
}
h3{
    margin-top: 0px;
    padding-bottom: 5px;
}
.content-list{
    padding: 3px;
}
.actual-content{
    padding: 3;
}

/* HOVER EFFECTS */
.translate-hover:hover + .translate-info{
    display: block;
    border-radius: 7px;
    margin-bottom: 3px;
}
.translate-info{
    color: #ad7a37;
    background-color: #ffd484;
    padding: 10px;
    display: none;
}

/* CARDS */
.card{
    border: 1px solid gray;
    border-radius: 7px;
    padding:5px;
    text-align: center;
    margin: 15px;
}
.card:hover{
    box-shadow: 5px 10px 18px #cfb479;
}

/* IMAGES */
.discover-image img{
    width: 175px;
    height: 120px;
    padding: 1px;
}

/* FORMS */
.login-form{
    padding: 10px;
}
.register-form{
    padding: 5px;
}
.request-password-form{
    padding: 5px;
}