/* FOOTER */
.my-footer{
    background-color:  #f8f8f8;
    position: relative;
    padding: 5px;
    margin-bottom: 0px;
}

/*LISTS*/
.no-bullets{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul .no-bullets li a{
    padding-bottom: 5px;
    padding-top: 5px;
}
.lead{
    padding: 7px;
    text-align: center;
    background-color: #c7c2c0;
    border-radius: 7px;
    font-size: 15px;
    color: black;
}

/* BUTTONS*/
.lead-btn{
    color: white;
    background-color: orange;    
}
.home-btn{
    font-size: 25px;
    padding: 10px;
    background-color: orange;
}
.btn{
    background-color: #d6d4d3;
    border-radius: 7px;
    border: 1px solid #d6d4d3;
    color: #b88e50;
}
.btn:hover{
    background-color: orange;
    border: 1px solid #d6d4d3;
}
button{
    border-radius: 7px;
    border: 1px solid #d6d4d3;
    font-weight: 400;
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #f7f7f1;
}
button:hover{
    background-color: orange;
}
button:visited{
    border: 1px solid#d6d4d3;
}

/* LINKS */
a:link{
    text-decoration: none;
}
a:visited{
    color: #c9712f;    
}
a:active{
    color: orangered;
}

/* GENERAL LAYOUT */
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;    
    /* overflow: overlay; /*content remains fixed but nav/footer are scrollable*/
    /*scrollbar-width: none; /*hides scrollbar in Firefox*/
    /*-ms-overflow-style: none; */

}
/* Hide scrollbar in chrome */
/* ::-webkit-scrollbar { 
    display: none; 
    } */
.container{
    min-height: 100%;
}
.container-fluid{
    min-height: 100%;
}
body{
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 30px;
    font-size: 15px;
    font-weight: 400;
    padding: 0px;
}
P{
    padding: 5px;
}
h5{
    text-align: center;
}
h3{
    margin-top: 0px;
    padding-bottom: 5px;
}
.content-list{
    padding: 3px;
}
.scrollable{
    padding: 3;
    position: relative;
    overflow: auto;
}
.side-bar{
    position: fixed;
}
.lead-instructor-profile{
    background-color: #f7f7f1;
    border-radius: 7px;
    padding: 15px;
}
.lead-instructor-profile .my-profile{
    text-align: center;
}
/* .center-content-on-screen{
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate(-45%, -45%);
} */
.discover-msg{
    padding: 45px;
    font-size: 45px;
    line-height: 30px;
}
.dare{
    color: orange;
    display: inline-block;
    animation: flipInX;
    animation-duration: 3s;
}

/* HOVER EFFECTS */
.translate-hover:hover + .translate-info{
    display: block;
    border-radius: 7px;
    margin-bottom: 3px;
}
.translate-info{
    color: #ad7a37;
    background-color:#ffe3cc;
    padding: 10px;
    display: none;
}

/* CARDS */
.card{
    border: 1px solid #d6d4d3;
    border-radius: 7px;
    padding:5px;
    text-align: center;
    margin: 15px;
}
.card:hover{
    box-shadow: 5px 10px 18px #cfb479;
}

/* IMAGES */
img{
    border-radius: 7px;
    padding: 0.5px;
}
/* .card-img-top{
    width: 100%;
    height: auto;
} */

/* FORMS */
.form{
    padding: 10px;
}
.my-form{
    border: 1px solid #d6d4d3;
    border-radius: 7px;
    padding: 25px;
    margin: 15px;
}


/* MEDIA QUIERIES */
@media all and (max-width: 992px) {
    .side-bar { display: none; }
    }
@media all and (min-width: 992px) {
    .side-bar { display: block; }
}