{% extends 'base.html' %}

{% block app_content %}
    <!-- Flash message -->
    <div class="row">
        <div class="col-sm-12">
            {% include '_flash_message.html' %}
        </div>
    </div>
    <!-- End of flash message -->
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a data-toggle="tab" href="#blog">Blog Articles</a></li>
                        <li><a data-toggle="tab" href="#events">Events</a></li>
                        <li><a data-toggle="tab" href="#student-stories">Student Stories</a></li>
                        <li><a data-toggle="tab" href="#courses">Courses</a></li>
                    </ul>
                    
                    <div class="tab-content">
                        <!-- Blog Articles Tab -->
                        <div id="blog" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h2 class="tab-heading" >Manage the Blog Page</h2>
                                </div>
                                <div class="row">
                                    <!-- Manage blogs page -->
                                    <div class="col-sm-3">
                                        <!-- Empty column -->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card-deck">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <h2 class="card-title">Blog Articles</h2>
                                                        <hr>
                                                        <p class="card-text">
                                                            Update and Review the blogs page
                                                        </p>
                                                        <p>
                                                            <a href="{{ url_for('admin.blog_update') }}" class="btn btn-primary">Update</a> | <a href=" {{ url_for('admin.blog_review') }} " class="btn btn-primary">Review</a>
                                                        </p>
                                                    </div>
                                                </div>            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <!-- Empty column -->
                                    </div>
                                    <!-- End of manage blogs page -->
                                </div>
                            </div>                                                                           
                        </div>
                        <!-- End of Blog Articles Tab -->
        
                        <!-- Events Tab -->
                        <div id="events" class="tab-pane fade">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h2 class="tab-heading" >Manage Events</h2>
                                    </div>
                                </div>
                                <div class="row">
                                        <!-- Events -->
                                        <div class="col-sm-3">
                                            <!-- Empty column -->
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card-deck">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="text-center">
                                                            <h2 class="card-title">Add events</h2>
                                                            <hr>
                                                            <p class="card-text">
                                                                Update and review the events page
                                                            </p>
                                                            <p>
                                                                <a href=" {{ url_for('admin.events_update') }} " class="btn btn-primary">Update</a> | <a href=" {{ url_for('admin.events_review') }} " class="btn btn-primary">Review</a>
                                                            </p>
                                                        </div>
                                                    </div>            
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <!-- Empty column -->
                                        </div>
                                        <!-- End of events -->
                                </div>
                            </div>
                        </div>
                        <!-- End of Events Tab -->

                         <!-- Student Stories Tab -->
                         <div id="student-stories" class="tab-pane fade">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h2 class="tab-heading" >Manage Student Stories</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Add student stories -->
                                    <div class="col-sm-3">
                                        <!-- Empty column -->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card-deck">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <h2 class="card-title">Student Stories</h2>
                                                        <hr>
                                                        <p class="card-text">
                                                            Upate and Review what real students say
                                                        </p>
                                                        <p>
                                                            <a href=" {{ url_for('admin.student_stories_update') }} " class="btn btn-primary">Update</a> | <a href=" {{ url_for('admin.student_stories_review') }} " class="btn btn-primary">Review</a>
                                                        </p>
                                                    </div>
                                                </div>            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <!-- Empty column -->
                                    </div>
                                    <!-- End of add student stories -->
                                </div>
                            </div>
                        </div>
                        <!-- End of Student Stories Tab -->

                         <!-- Courses Tab -->
                         <div id="courses" class="tab-pane fade">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h2 class="tab-heading" >Manage Courses</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Add courses -->
                                    <div class="col-sm-3">
                                        <!-- Empty column -->
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card-deck">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="text-center">
                                                        <h2 class="card-title">Blog Courses</h2>
                                                        <hr>
                                                        <p class="card-text">
                                                            Manage course offerings in the courses page
                                                        </p>
                                                        <p>
                                                            <a href=" {{ url_for('admin.courses_update') }} " class="btn btn-primary">Update</a> | <a href=" {{ url_for('admin.courses_review') }} " class="btn btn-primary">Review</a>
                                                        </p>
                                                    </div>
                                                </div>            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <!-- Empty column -->
                                    </div>
                                    <!-- End of add courses -->
                                </div>
                            </div>
                        </div>
                        <!-- End of Courses Tab -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}