{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row center-content-on-screen">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <!-- Empty column -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h1>Page Not Found</h1>
            <p>Sorry, the requested page cannot be found.</p>
            <p><a href=" {{ url_for('home') }} ">Back</a></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <!-- Empty column -->
        </div>
    </div>    
{% endblock %}