<table class="table table-hover">
    <tr valign="top">
        <td width="70px">
            <a href="{{ url_for('quadcopter', username=comment.author.username) }}">
                <img src="{{ user.avatar(50) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('quadcopter', username = comment.author.username) }}"><span style="background-color: orange; border-radius: 4px;padding: 3px;">{{ comment.author.username }}</span></a> {{ _(said) }} {{ moment(user.timestamp).fromNow() }}:<br><br>
            {{ user.comments }}
        </td>

    </tr>
</table>