<html>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Bolder Learner</title>
    {% endif %}
    <link rel="stylesheets" href="/app/static/style.css">
    <body>

        {%  with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>
                        {{ message }}
                    </p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        
        {% endblock %}
        <hr>
        <div>
            <h5>
                <a href="/login">Blog</a>
                <a href="/contact">Become a Patreon</a>
            </h5>
            
        </div>
    </body>
</html>