{% extends 'base.html' %}

{% block app_content %}
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/arduino.svg" alt="Arduino">
                    <div class="card-body">
                        <h5 class="card-title"><span style="color: orange;">Arrduino</h5></span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/raspberry_pi.svg" alt="Raspberry Pi">
                    <div class="card-body">
                        <h5 class="card-title"><span style="color: orange;">Raspberry Pi</h5></span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/video_editing.svg" alt="Video Editing">
                    <div class="card-body">
                        <h5 class="card-title"><span style="color: orange;">Editing</h5></span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/web_dev.svg" alt="Web Development">
                    <div class="card-body">
                        <h5 class="card-title"><span style="color: orange;">Development</h5></span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
{% endblock %}