{% extends 'base.html' %}

{% block app_content %}
        <div class="row">
            <div class="col-sm-12 text-center" id="allowed_blogs">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <!-- Blog 1 -->
        {% for blog in allowed_blogs %}
        <div class="row blog">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <h2>{{ blog.title }}</h2>
                </div>
                <div class="col-sm-6 text-right date-posted">
                    <h2>{{ moment(blog.timestamp).format('LL') }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-fluid" style="max-width: 100%; height: auto;" src="/{{ blog.blog_image }}" alt="{{ blog.title }}">
                </div>
                <div class="col-sm-8">
                    <p>{{ blog.body }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href=" {{ blog.link }} " class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- End of blog 1 -->

        <!-- Pagination of comments -->
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&#60;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&#62;</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- End of pagination of comments -->
{% endblock %}