{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="container-fluid"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="card" style="width: 15rem;">
                    <img src="{{url_for('static', filename = 'img/arduino_logo.png')}}" class="card-img-top" alt="Raspberry Pi">
                    <div class="card-body">
                      <h5 class="card-title">Raspberry</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="card" style="width: 15rem;">
                    <img src="{{url_for('static', filename = 'img/raspberry_pi_logo.png')}}" class="card-img-top" alt="Raspberry Pi">
                    <div class="card-body">
                      <h5 class="card-title">Raspberry</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="card" style="width: 15rem;">
                    <a href="{{ url_for('blog') }}"><img src="{{url_for('static', filename = 'img/discover_more.png')}}" class="card-img-top" alt="More"> More</a>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="card" style="width: 15rem;">
                    <img src="{{url_for('static', filename = 'img/discover Image .jpg')}}" class="card-img-top" alt="More"> 
                    <img src="{{url_for('static', filename = 'img/discover Image .jpg')}}" class="card-img-top" alt="More"> 
                    <img src="{{url_for('static', filename = 'img/discover Image .jpg')}}" class="card-img-top" alt="More"> 
                    <img src="{{url_for('static', filename = 'img/discover Image .jpg')}}" class="card-img-top" alt="More">                 
                </div>
            </div>
        </div>
    </div>

    

{% endblock %}