{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="container-fluid"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                <div class="card" style="width: 25rem;">
                    <img src="{{url_for('static', filename = 'img/arduino_logo.png')}}" class="card-img-top" alt="Raspberry Pi">
                    <div class="card-body">
                      <h5 class="card-title"><b>Arduino</b></h5><hr>
                      <p class="card-text">Arduino is an open-source platform that you can use to build electronics projects.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                <div class="card" style="width: 25rem;">
                    <img src="{{url_for('static', filename = 'img/raspberry_pi_logo.png')}}" class="card-img-top" alt="Raspberry Pi">
                    <div class="card-body">
                      <h5 class="card-title"><b>Raspberry</b></h5><hr>
                      <p class="card-text">Raspberry Pi is a cheap computer that runs Linux which allows you to control electronic components</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-2">
                <div class="card" style="width: 15rem;">
                    <a href="{{ url_for('blog') }}"><img src="{{url_for('static', filename = 'img/discover_more.png')}}" class="card-img-top" alt="More"  width=50, height=50, quality=95> More</a>                
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6 col-lg-4">                
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 discover-image">
                        <img src="{{url_for('static', filename = 'img/discover Image 1.jpg')}}" alt="Arduino">
                    </div>                
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 discover-image">
                        <img src="{{url_for('static', filename = 'img/discover Image 2.jpg')}}" alt="Arduino"> 
                    </div>                    
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 discover-image">
                        <img src="{{url_for('static', filename = 'img/discover Image 3.jpg')}}" alt="Arduino"> 
                    </div>                    
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 discover-image">
                        <img src="{{url_for('static', filename = 'img/discover Image 4.jpg')}}" alt="Arduino">   
                    </div>                                                  
            </div>
        </div>
    </div>

    

{% endblock %}