{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as  wtf %}

{% block app_content %}
    <div class="row center-content-on-screen">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img class="img-fluid" style="height: auto; width: 100%;" src=" {{ url_for('static', filename = 'img/Home Page image.jpg') }} ">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h1>Dare to be different</h1>
            <p style="font-size: 20px;">
                Reject conformity, learn something new, break rules, be your own fan, master your fate...then raise an alien generation of innovators like yourself
            </p>    
            <a href=" {{ url_for('register') }} "><button type="button" class="btn-warning home-btn">Join Now</button></a>
        </div>
    </div>
{% endblock %}