{% extends 'base.html' %}

{% block content %}
    <a href="{{ url_for('index')}}">Somasoma:</a>
    <a href="{{ url_for('index') }}">Discover</a><hr>

    <div>
        <img src="{{url_for('static', filename='icons8-rebel-48.png')}}">
        <h1>We are the <span style="color: red;"> rebels!</span></h1>
    </div>
    <div>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors%}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors%}
                <span style="color: red;"> {{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.remember_me() }}{{ form.remember_me.label }}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
        <p>Already joined? <a href="{{ url_for('index') }}">Login</a></p>
    </div>
{% endblock %}