{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>
        <img src="{{url_for('static', filename='icons8-rebel-48.png')}}">
        <h1>We are the <span style="color: red;"> rebels!</span></h1>
    </div>
    <div>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>        
        <p>
            Want to join? <a href="{{ url_for('register') }}">Register</a>
        </p>
        <p>
            Forgot your password?
            <a href="{{ url_for('login') }}">Reset here, pirate!</a>
        </p>
    </div>
{% endblock %}