{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="col-md-4">
            <h1><span style="color: red;">Bloody</span> be the first!</h1>      
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>    
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                    Already joined?
                    <a href="{{ url_for('login') }}">Login</a>
                </p>
            </div>            
        </div>
    </div>


{% endblock %}