{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row center-content-on-screen">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form">
            <div></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form">
            <div class="my-form">
                {{ wtf.quick_form(form) }}
            </div>            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form">
            <div></div>
        </div>
    </div>
{% endblock %}
