{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}   
    <table class="table">
        <tr valign='top'>
            <td width = '70px'>
                <img src=" {{ user.avatar(128) }} ">
            </td>
            <td>
                <h1>Username: {{ user.username }}</h1>
                {% if user.about_me %}<p> {{ user.about_me }} </p>{% endif %}
                {% if user.last_seen %}<p><b>Last seen:</b> {{ moment(user.last_seen).format('LLLL') }} </p>{% endif %}
                <p>
                    {{ user.followers.count() }} followers, {{ user.followed.count() }} following
                </p>
                {% if user == current_user %} 
                    <p><a href=" {{ url_for('edit_profile') }} ">Edit Profile</a></p> 
                {% elif not current_user.is_following(user) %}    
                    <p>
                        <form action=" {{ url_for('follow', username = user.username) }} " method="POST">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value = 'Follow') }}
                        </form>
                    </p>
                {% else %}
                    <p>
                        <form action=" {{ url_for('unfollow', username = user.username) }} " method="POST">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value = 'Unfollow') }}
                        </form>
                    </p>
                {% endif %}
            </td>
        </tr>
    </table><hr>

    {% if form %}
    <form action="" method="post">
        {{ wtf.quick_form(post_form) }}
    </form><br>
    {% endif %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All Posts</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Followed Posts</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Own Posts</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            {% for post in all_posts %}
                {% include '_posts.html' %}
            {% endfor %}
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&laquo;</span> Newer posts
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            Older posts <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            {% for post in my_followed_posts %}
                {% include '_posts.html' %}
            {% endfor %}
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url_my_followed_posts %} disabled{% endif %}">
                        <a href="{{ prev_url_my_followed_posts or '#' }}">
                            <span aria-hidden="true">&laquo;</span> Newer posts
                        </a>
                    </li>
                    <li class="next{% if not next_url_my_followed_posts %} disabled{% endif %}">
                        <a href="{{ next_url_my_followed_posts or '#' }}">
                            Older posts <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            {% for post in own_posts %}
                {% include '_posts.html' %}
            {% endfor %}
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url_own_posts %} disabled{% endif %}">
                        <a href="{{ prev_url_own_posts or '#' }}">
                            <span aria-hidden="true">&laquo;</span> Newer posts
                        </a>
                    </li>
                    <li class="next{% if not next_url_own_posts %} disabled{% endif %}">
                        <a href="{{ next_url_own_posts or '#' }}">
                            Older posts <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}